*{
    padding: 0;
    margin: 0;
}

.container {
    background-color: rgb(95, 94, 94);
    width: 1280px;
    height: 720px;
}

.head{
    background-color: bisque;
    width: 1280px;
    height: 50px;
    
}

.side{
    background-color: rgb(0, 0, 0);
    height: 720px;
    width: 200px;
    float: left;
    color: white;
    display: inline-block;
}
.imgside{
    background-color: bisque;
    width: 50px;
    height: 50px;
    margin: 3px;
    float: left;
    
}
